::-webkit-scrollbar {
  width: 7px;
  background:black; 
}


/* Handle */
::-webkit-scrollbar-thumb {
  background:#dc3545; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:#ffffff; 
}

body{
  height: 100vh;
  background-image: url('cover.webp');
  background-color: black;
  backdrop-filter: blur(1px);
  background-attachment: fixed;
  position: relative;
}

main{
  min-height: 100vh;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.book-card{
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 2px 3px 7px 1px rgba(255, 255, 255, 0.3);
}

.book-card:hover{
  transform: scale(1.03);
  transition: transform 0.3s ease-in-out;
  background-color: black;
  box-shadow: 2px 3px 7px 1px rgba(255, 255, 255, 0.5 );
}

#search-input{
  background-color: transparent;
  color: white;
  font-weight: 300;
  font-size: large;
  outline: 1px solid #dc3545;
  border: none;
}

#search-input:focus{
  outline: 3px solid #dc3545;

}